@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Varela+Round&display=swap');
.App{
  color: #969191;
  background-color: #111;
  /*font-family: 'Helvetica', sans-serif;*/
  font-family: 'Varela Round', sans-serif;
}


